/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Otros
*/
:root {
    /* Colors */
    --mustard: #FFD700;
    --celeste: #A7E3FE;
    --azul: #0B75CB;
    --black: #282623;
    --texto: #0E0E0E;
    --texto2: #ebebeb;
    --texto3: #9C9C9C;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* HEADER */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 100px;
    text-align: center;
}

.header__title-container {
    width: 100%;
    min-width: 288px;
    height: 70px;
    text-align: center;
    align-self: center;
    background: var(--mustard);
}

.header__subtitle-container {
    width: 100%;
    min-width: 288px;
    height: 30px;
    text-align: center;
    align-self: center;
    background: var(--black);
}

.header__title-container h1 {
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--texto);
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__subtitle-container p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--texto2);
    padding-top: 4.5px;
    padding-bottom: 4.5px;
}

/* HOME */
.conversor__home{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.conversor__home--button {
    left: calc(50% - 118);
    margin: 10px auto;
    padding: 15px;
    width: 75%;
    height: 48px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    background: var(--mustard);
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--texto);
}

/* CONVERSOR */
main {
    width: 100%;
    height: auto;
    background-color: var(--texto2);
}

.main__conversor {
    width: 100%;
    min-width: 320px;
    padding-bottom: 5px;
    text-align: center;
}

.conversor__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;

}

.conversor__title h2 {
    padding-top: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--texto);
}

.conversor__container-card {
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 450px;
    margin: 10px auto 0;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.conversor__card-title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--texto2);
    background: var(--black);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.conversor__card-subtitle {
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--black);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--texto2);
}

.conversor__data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}

.conversor__data-input {
    width: 50%;
    height: 30px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-top: 20px;
}

.conversor__data-cantidades {
    width: 50%;
    height: 30px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.conversor__button-container {
    padding-top: 10px;
}

.conversor__button {
    background: var(--mustard);
    width: 50%;
    height: 40px;
    border-radius: 8px;
    color: var(--texto);
}

.conversor__options-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.conversor__options-cantidades {
    width: 50%;
    height: 40px;
    border-radius: 8px;
}

.conversor__answer-container {
    padding-bottom: 10px;
}

.conversor__answer-data {
    font-size: 2rem;
}

.backHome{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: auto;
    margin: 0 auto;
}
.backHome__button {
    left: calc(50% - 118);
    margin: 10px auto;
    padding: 15px;
    width: 100%;
    height: 48px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    background: var(--mustard);
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--texto);
}

/* FOOTER */
footer {
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--texto);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 14px 0;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}

.right {
    width: auto;
}